.login-input {
    width: 50vw;
    max-width: 350px;
    background-repeat: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 1rem 2rem;
    outline: tomato solid;
    transition: 0.25s;
}