:root {
  /*Colors*/
  --color-main: #7b2cbf;
  --color-grey: #303846;
  --color-red: #ee4b2b;
  /*Other*/
  --modal-index: 99;
  --banner-height: 300px;
  --avatar-margin-left: 6.25%;
  --avatar-width: 128px;
  --avatar-height: 128px;
}
