:root {
  /*Colors*/
  --color-main: #7B2CBF;
  --color-grey: #303846;
  --color-red: 	#EE4B2B;
  /*Other*/
  --modal-index: 99;
  --banner-height: 300px;
  --avatar-margin-left: 6.25%;
  --avatar-width: 128px;
  --avatar-height: 128px;
}

.role-admin {
  color: var(--color-main);
  opacity: 0.75;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.25rem;
}

* {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.markdown-main {
  color: var(--color-main);
}